@import "tailwindcss";

@tailwind utilities;

@theme {
    --color-offblack: #fff;
    --color-offblack-soft: #f0eff4;
    --color-offblack-softer: #e1e0e5;
    --color-offblack-softest: #000000;
    --color-colblue: #7f7f7f;
    --color-magentalogo: #a54c9d;
}

@layer base {
    button {
      @apply cursor-pointer;
    }
  }